
.payment_method_efipay img[alt=PayPal]{
	width:160px!important; 
	height:auto!important;
	object-fit: cover;
}

input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    min-width: 350px !important;
}