
.payment_method_efipay img[alt=PayPal]{
	width:160px!important;
	height:auto!important;
	object-fit: cover;
}

.woocommerce{
    max-width: 100% !important;
}
.woocommerce ul.order_details{
    display: flex;
    justify-content: space-between;
}

